.fab {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: $color-accent;
    color: $color-back;
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    font-size: 1.8rem;

    box-shadow: 0.1rem 0.1rem 2rem $color-fore;

    // center content
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;

    //TODO: convert this to a shim
    -webkit-tap-highlight-color: transparent;

    &.active {
        background-color: $color-primary;
    }
}

.button {
    text-decoration: none;
    padding: 0.5rem;
    border: $color-back 0.1rem solid;
    border-radius: 0.5rem;

    &.large {
        font-size: 1.75rem;
        padding: 0.75rem;
    }
    padding: 0.5rem;

    transition: all 0.25s ease-in-out;

    &:hover {
        background-color: $color-back;
        color: $color-primary;
    }
}
