$color-primary: #7FFF0F !default;
$color-secondary: #00D0FF!default;
$color-fore: #4E5340 !default;
$color-back: #EEEEEE !default;
$color-accent: #FFBD4A !default;
$color-accent-2: #FCFC62 !default;

$font-emphasis: "Space Mono", Consolas, Monaco, monospace !default;
$font-body: "Work Sans", Arial, sans-serif !default;
$font-base-size: 0.8rem !default;
