$color-primary: #FC00FF !default;
$color-secondary: #00DBDE !default;
$color-fore: #202A25 !default;
$color-back: #EEEEEE !default;
$color-accent: #5F4BB6 !default;
$color-accent-2: #86A5D9 !default;

$font-emphasis: "Space Mono", Consolas, Monaco, monospace !default;
$font-body: "Work Sans", Arial, sans-serif !default;
$font-base-size: 0.8rem !default;
