.hero {
    width: 100%;
    height: 100%;

    background: linear-gradient(45deg, $color-primary, $color-secondary);
    color: $color-back;
    font-family: $font-emphasis;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hero-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1.6rem;
        text-align: center;

        h1 {
            margin: 0;
            font-size: 7vh;
        }

        h2 {
            font-size: 3vh;
        }
    }
}
