.fab {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: $color-accent;
    color: $color-back;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    font-size: 1.8rem;

    box-shadow: 0.1rem 0.1rem 1rem $color-fore;

    // center content
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //justify-content: center;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    //TODO: convert this to a shim
    -webkit-tap-highlight-color: transparent;

    .fab-bar {
        width: 60%;
        height: 10%;
        background-color: $color-back;
        transition: all 0.25s ease-in-out;
        position: absolute;
        margin: 0;
        padding: 0;
        left: 20%;
        transform-origin: 100%;

        &:nth-child(1) {
            top: 25%;
        }

        &:nth-child(2) {
            top: 45%;
        }

        &:nth-child(3) {
            bottom: 25%;
        }
    }

    &.active {
        background-color: $color-primary;
        transform: rotate(180deg);

        .fab-bar {
            &:nth-child(1) {
                transform: translateX(-15%) translateY(-10%) rotateZ(-45deg) ;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: translateX(-15%) translateY(10%) rotateZ(45deg) ;
            }
        }
    }

}
