---
layout: default
---

<nav class="hero-nav">
    <div class="nav-left"></div>
    <div class="nav-right">
        <a href="#">Schedule</a>
        <a href="#">Sponsors</a>
        <a href="#">Resources</a>
        <a href="#">About</a>
    </div>
</nav>
<div class="fab nav-button">
    <div class="fab-bar"></div>
    <div class="fab-bar"></div>
    <div class="fab-bar"></div>
</div>
<div class="hero">
    <div class="hero-main">
        <img src="{{ site.baseurl }}/img/shecancode.png"/>
        <h1>DREAM IT.</h1>
        <h1>BUILD IT.</h1>
        <h1>SHARE IT.</h1>
        <h2>Hatched, an inter-university tech festival.</h2>
        <a class="button large" href="#">Register Now!</a>
    </div>
</div>

<section class="main">
    {{ content }}
</section>
